.c-button {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.3rem;

  outline: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &:focus {
    box-shadow: 0 0 0 2px var(--color-surface), 0 0 0 4px var(--color-border);
  }

  &.c-button--1\/2 {
    width: 50%;
  }

  &.c-button--full {
    width: 100%;
  }

  &.c-button--logout {
    border: 2px solid var(--color-border);

    transition: all 400ms ease;

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-background);
    }
  }

  &.c-button--dashboard {
    background-color: var(--color-border);
    color: var(--color-text);
  }
}
