.c-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "name       surname"
    "email      email"
    "interesse  interesse"
    "message    message"
    "submit     .";
  gap: 1rem 0.5rem;
}

.c-form__area-name {
  grid-area: name;
}
.c-form__area-surname {
  grid-area: surname;
}
.c-form__area-email {
  grid-area: email;
}
.c-form__area-interesse {
  grid-area: interesse;
}
.c-form__area-message {
  grid-area: message;
}
.c-form__area-submit {
  grid-area: submit;
}

.c-form__area-name,
.c-form__area-surname,
.c-form__area-email,
.c-form__area-message {
  display: grid;
  gap: 0.2rem;
}

.c-form__input,
.c-form__textarea {
  background-color: var(--color-surface);
  padding: 0.3rem;
  border-radius: 0.3rem;
  outline: none;
  color: var(--color-background);

  &:focus {
    box-shadow: 0 0 0 2px var(--color-background),
      0 0 0 4px var(--color-surface);
  }
}

.c-form__area-interesse {
  border: 1px solid oklch(from var(--color-surface) l c h / 0.5);
  border-radius: 0.3rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  > input + label {
    margin-left: 2rem;
  }
}

.c-form__submit {
  padding: 0.3rem;
  border-radius: 0.3rem;
  outline: none;
  background-color: var(--color-accent);
  color: var(--color-text);
  transition: all 200ms ease;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 2px var(--color-background),
      0 0 0 4px var(--color-surface);
  }

  &:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-border);
  }
}
