.l-contact-form {
  margin-inline: auto;
  padding-block: 2rem;
  padding-inline: 1rem;
  max-width: var(--max-width);
  background-color: var(--color-background);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title-1  title-2"
    "text     form";
  gap: 3rem 1rem;

  .l-contact-form__title {
    grid-area: title-1;

    text-align: center;
    font-weight: 300;
  }

  .l-contact-form__title--2 {
    grid-area: title-2;
  }

  .l-contact-form__text {
    grid-area: text;
    font-weight: 800;
    max-width: 25rem;
    margin-inline: auto;
    text-align: justify;
  }

  .l-contact-form__form {
    grid-area: form;
  }
}
